.clearAll {
    position: absolute;
    top: -55px;
    left: 0px;
    

}


.undoRedo{
    position: relative;
    top: -90px;
    left: 480px;
}


.Redo{
    position: relative;
    top: -90px;
    left: 490px;
}