<li [ngClass]="{'editing': edit, 'completed': itemData.isDone}">
  <div class="view">
    <input 	class			= "toggle"
            type			= "checkbox"
            name			= "fait"
            (click) = "doneEvent.emit({b:!itemData.isDone,data:itemData})" 
            [ngModel] = "itemData.isDone"
    />
    <label 	class="texte"   (dblclick)="edit=true">{{itemData.label}}</label>
    <button class="destroy" (click)="delete()" ></button>
    <button class="mapButton"><svg class="bi" width="26" height="26"
      fill="currentColor">
      <use xlink:href="assets/bootstrap-icons.svg#map" />
    </svg></button>
  </div>
  <form   (submit)="label = newTextInput.value"> 
    <input   #newTextInput
            name    = "newTextInput"
            [ngModel] = "label"
            (blur) = "label = newTextInput.value;"
            class   = "edit"/>
            {{newTextInput.focus()}}
            
  </form>
  <form   (submit)="lieu = lieuInput.value"> 
    <input   #lieuInput
               [ngModel] = "lieu"
            (blur) = "lieu = lieuInput.value;"
         name    = "lieuInput"
            class   = "edit"/>
            {{lieuInput.focus()}}
            
  </form>
  
</li>