<li [ngClass]="{'editing': edit, 'completed': itemData.isDone,'editLieu':editLieu}">
  <div class="view">
    <input 	class			= "toggle"
            type			= "checkbox"
            name			= "fait"
            (click) = "doneEvent.emit({b:!itemData.isDone,data:itemData})"
            [ngModel] = "itemData.isDone"
    />
    <label 	class="texte"   (dblclick)="edit=true">{{itemData.label}}</label>
    <button class="destroy" (click)="delete()" ></button>
    <button class="mapButton" (click)="editLieu=true"><svg class="bi" width="26" height="26"
      fill="currentColor">
      <use xlink:href="assets/bootstrap-icons.svg#map" />
    </svg></button>
  </div>
  <form   (submit)="label = newTextInput.value">
    <input   #newTextInput
            name    = "newTextInput"
            [ngModel] = "label"
            (blur) = "label = newTextInput.value;"
            class   = "edit"/>
            {{newTextInput.focus()}}

  </form>
  <form  (submit)="editLieu=false; lieuEvent.emit(itemData)" >
    <input   #lieuInput
            [ngModel] = "lieu"
            name    = "lieuInput"
            placeholder="Entrez une adresse/un lieu"
            class   = "lieu"/>
            {{lieuInput.focus()}}

  </form>

</li>
